
/*** ESSENTIAL STYLES ***/
.sf-menu-small, .sf-menu-small * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu-small {
	line-height:	0.6;
	border:0;
}
.sf-menu-small ul {
	position:		absolute;
	top:			-999em;
	width:			150px; /* left offset of submenus need to match (see below) */
}
.sf-menu-small ul.large {
	width:200px;
}
.sf-menu-small ul li {
	width:			100%;
}
.sf-menu-small li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu-small li {
	float:			left;
	position:		relative;
}
.sf-menu-small a {
	display:		block;
	position:		relative;
}
.sf-menu-small li:hover ul,
.sf-menu-small li.sfHover ul {
	left:			0;
	top:			20px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu-small li:hover li ul,
ul.sf-menu-small li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu-small li li:hover ul,
ul.sf-menu-small li li.sfHover ul {
	left:			-202px; /* match ul width */
	top:			0;
}
ul.sf-menu-small li li:hover li ul,
ul.sf-menu-small li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu-small li li li:hover ul,
ul.sf-menu-small li li li.sfHover ul {
	left:			150px; /* match ul width */
	top:			0;
}

/*** SKIN ***/
.sf-menu-small {
	float:right;
	height:20px;
	margin-bottom:	0;
	width:auto;
	font-size:75%;
	text-align:left;
}
.sf-menu-small a {
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu-small a, .sf-menu-small a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
}
.sf-menu-small li li a, .sf-menu-small li li a:visited {
	color:			#fff;
}
.sf-menu-small li {
	border-right:1px solid #ccc;
}
.sf-menu-small li li {
	background:#336699;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	opacity:0.90;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}
.sf-menu-small li li li {
	background:#165275;
	opacity:0.80;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.sf-menu-small li:hover, .sf-menu-small li.sfHover, 
.sf-menu-small a:focus, .sf-menu-small a:hover, .sf-menu-small a:active {
	background:#003366;
	color:			#fff;
	outline:		0;
}

.sf-menu-small li.current li.sfHover a.sf-with-ul {
	color:			#fff;
}

/*** arrows **/
.sf-menu-small a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-menu-small .sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-left-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
.sf-menu-small a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.5em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
.sf-menu-small a:focus > .sf-sub-indicator,
.sf-menu-small a:hover > .sf-sub-indicator,
.sf-menu-small a:active > .sf-sub-indicator,
.sf-menu-small li:hover > a > .sf-sub-indicator,
.sf-menu-small li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point left for anchors in subs */
.sf-menu-small ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu-small ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu-small ul a:focus > .sf-sub-indicator,
.sf-menu-small ul a:hover > .sf-sub-indicator,
.sf-menu-small ul a:active > .sf-sub-indicator,
.sf-menu-small ul li:hover > a > .sf-sub-indicator,
.sf-menu-small ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
